[package]
name = "wat_service_binding"
version = "0.0.0"
authors = ["Pig Fang <g-plane@hotmail.com>"]
license = "MIT"
edition = "2024"
publish = false

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
serde = "1.0"
serde-wasm-bindgen = "0.6"
wasm-bindgen = "0.2"
wat_service = "*"
