name: release

on:
  workflow_dispatch:
    inputs:
      semver:
        description: "Semantic version"
        required: true
        options:
          - "major"
          - "minor"
          - "patch"

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          lfs: true
      - run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
      - uses: dtolnay/rust-toolchain@stable
        with:
          targets: wasm32-unknown-unknown
      - uses: pnpm/action-setup@v4
        with:
          version: latest
          run_install: true
      - uses: taiki-e/install-action@v2
        with:
          tool: just,wasm-bindgen
      - run: npx bumpp -y ${{ github.event.inputs.semver }}
      - name: Package extension
        run: |
          just package-node
          just package-web
          just package 'x86_64-linux' 'linux-x64'
          just package 'x86_64-macos' 'darwin-x64'
          just package 'arm64-macos' 'darwin-arm64'
          just package 'x86_64-windows' 'win32-x64'
      - run: npx @vscode/vsce publish --packagePath *.vsix
        env:
          VSCE_PAT: ${{ secrets.VSCE_PAT }}
